<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/styles.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ page.htitle | default: site.title }}</h1>
        <p>{{ page.hdesc | default: site.description }}</p>
        {% if page.url != "/" and page.url != "/index.html" %}
        <p class="view"><a href="/">View all posts</a></p>
        <ul>
          <li><a href="/">View All <strong>Posts</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <footer></footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>