---
layout: default
---

<h2 style="margin-bottom: 0;">{{ page.title }}</h2>{{ page.date | date_to_long_string: "ordinal", "US" }} <a title="Download this post's song" href="{% if page.music %}{{ page.music }}{% else %}https://litdevs.org/tvii.mp3{% endif %}">🎵</a><br><br>
{{ content }}

{% if page.music %} 
<audio autoplay loop preload="auto" src="{{ page.music }}"></audio>
{% else %}
<audio autoplay loop preload="auto" src="https://litdevs.org/tvii.mp3"></audio>
{% endif %}

<script src="https://utteranc.es/client.js" repo="Vukkyy/blog" issue-term="pathname" label="comments" theme="github-light" crossorigin="anonymous" async></script>
<script>
{% if page.htitle %} 
document.querySelector("header h1").innerHTML = "{{ page.htitle }}";
{% endif %}
{% if page.hdesc %} 
document.querySelector("header p").innerHTML = "{{ page.hdesc }}";
{% endif %}
{% if page.bg %} 
document.querySelector("body").style.background = "{{ page.bg }}";
{% endif %}
</script>
